@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'humane';
  src: url('./fonts/Humane-VF.ttf') format('truetype');
}
@font-face {
  font-family: 'ppfragmentsans';
  src: url('./fonts/ppfragment-sansextrabold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ppfragmentsans';
  src: url('./fonts/ppfragment-sanslight-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ppfragmentserif';
  src: url('./fonts/ppfragment-serifextrabold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ppfragmentserif';
  src: url('./fonts/ppfragment-seriflight-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ppfragmentglare';
  src: url('./fonts/ppfragment-glareextrabold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ppfragmentglare';
  src: url('./fonts/ppfragment-glarelight-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

html{
  background-color: #FFF1E4 ;
}